.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: #fbfbfb;
  // background-image: linear-gradient(to right, #000000, #121212, #1d1d1d, #282828, #333333);
  border-top: 3px solid #0080ff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  z-index: 1030;

  @media (min-width: $medium-breakpoint) {
    flex-wrap: nowrap;
  }
}

.navbar-brand {
  color: black;
  font-weight: 700;
  margin: 0.75rem 0;

  &:hover {
    text-decoration: none;
  }
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $medium-breakpoint) {
    display: none;
  }
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $medium-breakpoint) {
    flex-direction: row;
  }
}

.navbar-collapse {
  flex: 1 1 100%;
  height: 0;
  overflow: hidden;

  &.show {
    height: auto;
  }

  @media (min-width: $medium-breakpoint) {
    flex: initial;
    height: auto;
    overflow: visible;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  height: 100%;
  color: inherit;
  font-weight: 600;
	background-image: linear-gradient(to bottom, #0080ff, #0080ff);
	background-position: center top;
	background-repeat: no-repeat;
  background-size: 100% 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease 0s;

  &:hover,
  &:focus,
  &.active {
    color: white;
    text-decoration: none;
    background-size: 100% 100%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $medium-breakpoint) {
    border: none;
  }
}

.dropdown {
  position: relative;

  &:hover > .dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  background-color: #fbfbfb;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-toggle {
  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}

.dropdown-item {
  position: relative;
  display: block;
  padding: 0.25rem 1.5rem;
  color: inherit;
	background-image: linear-gradient(to right, #0080ff, #0080ff);
	background-position: left center;
	background-repeat: no-repeat;
  background-size: 0 100%;
  transition: all 0.2s ease 0s;

  &::after {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    display: inline-block;
    width: 0;
    height: 0;
    color: white;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
  }

  &:hover {
    color: white;
    text-decoration: none;
    background-size: 100% 100%;
  }
}

.home-section {
  background-color: #222222;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & > .container {
    color: white;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    padding: 5rem 10%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  & > .container > * {
    max-width: 100%;

    @media (min-width: $medium-breakpoint) {
      max-width: 75%;
    }

    @media (min-width: $large-breakpoint) {
      max-width: 50%;
    }
  }

  & .heading {
    font-size: 2rem;
    font-weight: 600;

    @media (min-width: $medium-breakpoint) {
      font-size: 2.5rem;
    }
  }

  & .heading > .badge {
    display: inline-block;
    margin-left: 0.5rem;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    line-height: 125%;
  }

  & .sub-heading {
    font-size: 1.25rem;
    font-weight: 600;

    @media (min-width: $medium-breakpoint) {
      font-size: 1.5rem;
    }
  }

  & .content {
    margin-top: 1rem;
    font-size: 1.125rem;
  }

  & .content > ul {
    list-style-type: square;
  }

  & .content li {
    margin-bottom: 0.5rem;
  }
}

.pg-header {
  background-color: #222222;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pg-heading {
  padding: 7rem 1rem 5rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.pg-content {
  margin: 3rem 0;
  padding: 0 5%;

  @media (min-width: $medium-breakpoint) {
    padding: 0 10%;
  }
}

.people-section {
  text-align: center;
  margin-top: 3rem;

  & > .title {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    font-weight: 600;
    background-image: linear-gradient(to right, #0080ff, #0080ff);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 50% 3px;
    transition: all 0.2s ease 0s;
  }

  &:hover > .title {
    background-size: 100% 3px;
  }
}

.members-grid {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.member-card {
  position: relative;
  padding: 1rem 1rem 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  flex: 0 0 50%;
  max-width: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
  }

  & > .avatar {
    border-radius: 50%;
  }

  & > .name {
    margin: 0.5rem 0;
    font-size: 1.125rem;
    font-weight: 600;
  }

  & .social-link:hover {
    text-decoration: none;
  }

  & .social-icon {
    max-width: 1.25rem;
    margin: 0 0.25rem;
  }

  @media (min-width: $medium-breakpoint) {
    flex: 0 0 percentage(1/3);
    max-width: percentage(1/3);
  }

  @media (min-width: $large-breakpoint) {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.img-fluid {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.row {
	display: flex;
	flex-flow: row wrap;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}
  
$grid_cols: 12;

@for $i from 1 through $grid_cols {
	.col-#{$i} {
		flex: 0 0 (100 / ($grid_cols / $i))*1%;
		max-width: (100 / ($grid_cols / $i))*1%;
	}

	.col-sm-#{$i} {
		width: 100%;
	}
	.col-md-#{$i} {
		width: 100%;
	}
	.col-lg-#{$i} {
		width: 100%;
	}
	.col-xl-#{$i} {
		width: 100%;
	}
}

@media (min-width: 576px) {
	@for $i from 1 through $grid_cols {
		.col-sm-#{$i} {
			flex: 0 0 (100 / ($grid_cols / $i))*1%;
			max-width: (100 / ($grid_cols / $i))*1%;
		}
	}
}

@media (min-width: 768px) {
	@for $i from 1 through $grid_cols {
		.col-md-#{$i} {
			flex: 0 0 (100 / ($grid_cols / $i))*1%;
			max-width: (100 / ($grid_cols / $i))*1%;
		}
	}
}

@media (min-width: 992px) {
	@for $i from 1 through $grid_cols {
		.col-lg-#{$i} {
			flex: 0 0 (100 / ($grid_cols / $i))*1%;
			max-width: (100 / ($grid_cols / $i))*1%;
		}
	}
}

@media (min-width: 1200px) {
	@for $i from 1 through $grid_cols {
		.col-xl-#{$i} {
			flex: 0 0 (100 / ($grid_cols / $i))*1%;
			max-width: (100 / ($grid_cols / $i))*1%;
		}
	}
}

.form-group {
	margin-bottom: 0.75rem;

  & > label {
    display: block;
    font-size: 0.8rem;
  }
}

.row > .form-group:not(:last-of-type) {
	margin-right: 2rem;
}

.form-control {
	padding: 0.375rem 0.75rem;
	color: #555;
	font-size: 0.9rem;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.input-group {
	display: flex;

  & > .form-control:not(:last-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    background-image: linear-gradient(to bottom, #ccc, #ccc);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1px 75%;
  }

  & > .form-control:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}

.form-feedback {
	font-size: 0.875rem;

  &.valid {
    color: #4EE44E;
  }

  &.invalid {
    color: #ED4337;
  }
}
