---
layout: page
---

<div class="members-grid">
  {% for member in site.data.members %}
    <div class="member-card">
      <img class="avatar img-fluid" src="{{ member.avatar }}" />
      <div class="name">
        {{ member.name }}
      </div>
      <div>
        <a class="social-link" href="{{ member.github }}">
          <img class="social-icon" src="/assets/images/github-logo.svg" />
        </a>
        <a class="social-link" href="{{ member.linkedin }}">
          <img class="social-icon" src="/assets/images/linkedin-logo.svg" />
        </a>
      </div>
    </div>
  {% endfor %}
</div>
